<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

    <!-- ===== ===== Custom Css ===== ===== -->
    <link rel="stylesheet" href="/css/style2.css">
    <link rel="stylesheet" href="responsive.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />


    <!-- ===== ===== Remix Font Icons Cdn ===== ===== -->
    <link rel="stylesheet" href="fonts/remixicon.css">
</head>

<body>
    <!-- ===== ===== Body Main-Background ===== ===== -->
    <span class="main_bg"></span>


    <div class="container">

        <!-- ===== ===== Header/Navbar ===== ===== -->
        <!-- <header>
            <div class="brandLogo">
                <span>Hồ sơ Bệnh nhân</span>
            </div>
        </header> -->

        <a href="/">
            <i class="fas fa-home-lg-alt fa-3x"></i>
        </a>
        <!-- ===== ===== User Main-Profile ===== ===== -->
        <section class="userProfile card">
            
            <% if (users[id.id].name == "Nguyễn Lê Hạnh Linh") { %>
                <img src="img/profile1.png" alt="profile" width="200px" height="200px">
                <% } else{ %>
                <img src="img/profile2.png" alt="profile" width="200px" height="200px">
            <% } %>
        </section>


        <!-- ===== ===== Work & Skills Section ===== ===== -->
        <section class="work_skills card">

            <!-- ===== ===== Work Contaienr ===== ===== -->
            <div class="work">
                <h1 class="heading">Tiểu sử</h1>
                <div class="primary">
                    <h1>Không mắc bệnh</h1>
                    <h1></h1>
                </div>
            </div>
        </section>


        <!-- ===== ===== User Details Sections ===== ===== -->
        <section class="userDetails card">
            <div class="userName">
                <!-- <div class="user"> -->
                    <h1 class="heading">Thông tin cá nhân</h1>
                <!-- </div> -->
                <h1 class="name">Họ và tên: <%=users[id.id].name%></h1>
                <h1 class="name">Tuổi: <%=users[id.id].age%> tuổi</h1>
                <h1 class="name">Giới tính: <%=users[id.id].gender%></h1>
                <h1 class="name">Quê quán: Thành phố Hồ Chí Minh</h1>
            </div>

        </section>


        <!-- ===== ===== Timeline & About Sections ===== ===== -->
        <section class="timeline_about card">
            <div class="tabs">
                <ul>
                    <li class="timeline">
                        <!-- <i class="ri-eye-fill ri"></i> -->
                        <span>KẾT QUẢ SÀNG LỌC</span>
                    </li>
                    <!-- <button data-modal-target="#modal">
                        <i class="fas fa-info-circle fa-1x"></i>
                    </button> -->
                </ul>
            </div>

            <div class="contact_Info">
                <!-- <h1 class="heading"></h1> -->
                <ul>
                <!-- <li class="phone"> -->
                            <% if (users[id.id].detail >= 32) { %>
                            <h4 class="label" style='color: orange;'>Có nguy cơ</h4>
                            <% } else{ %>
                            <h4 class="label" style='color: green;'>Không có nguy cơ</h4>
                            <% } %>
                 <!-- </li> -->
                </ul>
                <div class="progress">
                    <div class="progress card">
                        <div class="info">
                            <div class="name">Câu hỏi ghi nhớ</div>
                            <div class="detail">3 câu / 5 câu</div>
                        </div>
                        <div class="Loading memo"><span></span></div>
                    </div>
                    <div class="progress card">
                        <div class="info">
                            <div class="name">Câu hỏi toán</div>
                            <div class="detail">3 câu / 3 câu</div>
                        </div>
                        <div class="Loading math"><span></span></div>
                    </div>
                    <div class="progress card">
                        <div class="info">
                            <div class="name">Câu hỏi đọc</div>
                            <div class="detail">2 câu / 5 câu</div>
                        </div>
                        <div class="Loading read"><span></span></div>
                    </div>
                    <div class="progress card">
                        <div class="info">
                            <div class="name">Câu hỏi khác</div>
                            <div class="detail">7 câu / 10 câu</div>
                        </div>
                        <div class="Loading others"><span></span></div>
                    </div>
                </div>
            </div>
        </section>
        
    </div>

</body>

</html>
